<div id="navbar" class="navbar-collapse">
  <div class="navbar-header">
    <a href="#" class="navbar-brand">

    </a>
  </div>
  <ul class="nav navbar-nav navbar-right hmenu">
    <% if user_signed_in? %>
      <% if current_user.doctor.present? %>
        <li><%= "#{current_user.doctor.first_name.titleize} #{current_user.doctor.last_name.titleize}"%></li>
        <li class="divider">
      <% end %>
        <li>
          <%= link_to('Log Out', destroy_user_session_path, :method => :delete, :type => 'button', :class => 'logout') %>
        </li>
      </li>
    <% else %>
      <li>
        <%= link_to('Login', new_user_session_path) %>
      </li>
    <% end %>
  </ul>
</div>
